<%= form_for(@holiday) do |f| %>
  <p>
  <%= f.label :date, "Datum" %><br />
  <%= f.date_select :date %>
  </p>
  <p>
  <%= f.label :comment, "Beschreibung" %><br />
  <%= f.text_field :comment %>
  </p>
  <p>
  <%= f.submit submit_title %>
  </p>
<% end %>
