<h1>Feiertage</h1>

<div id="holidays">
  <table>
    <tr>
      <th>Datum</th>
      <th>Beschreibung</th>
      <%= content_tag :th if can? :edit, Holiday %>
      <%= content_tag :th if can? :destroy, Holiday %>
      <th></th>
      <th></th>
    </tr>

    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= holiday.date.strftime("%d.%m.%y") %></td>
        <td><%= holiday.comment %></td>
        <% if can? :edit, Holiday %>
          <%= content_tag :td do -%>
            <%= link_to 'bearbeiten', edit_holiday_path(holiday) %>
          <% end -%>
        <% end %>
        <% if can? :destroy, Holiday %>
          <%= content_tag :td do -%>
            <%= link_to 'löschen', holiday, method: :delete, data: { confirm: 'Sind Sie sich sicher?' } %>
          <% end -%>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<% if can? :new, Holiday %>
  <div class="option_box">
    <%= link_to 'Feiertag erstellen', new_holiday_path %>
  </div>
<% end %>
