<h1>Listing alleys</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Unlocked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @alleys.each do |alley| %>
  <tr>
    <td><%= alley.number %></td>
    <td><%= alley.unlocked %></td>
    <td><%= link_to 'Show', alley %></td>
    <td><%= link_to 'Edit', edit_alley_path(alley) %></td>
    <td><%= link_to 'Destroy', alley, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Alley', new_alley_path %>
