<div id="menu" class="content_box">
  <%= link_to "Home", root_path %>
  | Termin: 
  <%= link_to "wählen", new_reservation_path %>
  /
  <%= link_to "suchen", search_reservations_path %>
  <% if can? :index, Reservation %>
    | 
    <%= link_to "Reservierungen", reservations_path %>
  <% end %>
  <% if can? :index, Alley %>
    |
    <%= link_to "Bahnen", alleys_path %>
  <% end %>
  <% if can? :index, OfficeHour %>
    | 
    <%= link_to "Öffnungszeiten", office_hours_path %>
  <% end %>
  <% if can? :index, Holiday %>
    | 
    <%= link_to "Feiertage", holidays_path %>
  <% end %>
</div>
