<%= form_for(@office_hour) do |f| %>
  <p>
  <%= f.label :open_from, "Geöffnet ab" %><br />
  <%= f.time_select :open_from, {:minute_step => 30 } %>
  </p>
  <p>
  <%= f.label :open_to, "Geöffnet bis" %><br />
  <%= f.time_select :open_to, {:minute_step => 30 } %>
  </p>
  <%= f.submit submit_title %>
<% end %>
