<h1>Öffnungszeiten</h1>

<div id="office_hours">
  <table>
    <tr>
      <th>Wochentag</th>
      <th>Geöffnet ab</th>
      <th>Geöffnet bis</th>
      <%= content_tag :th if can? :edit, OfficeHour %>
    </tr>
    <% @office_hours.each do |office_hour| %>
      <tr>
        <td><%= office_hour.day %></td>
        <td><%= office_hour.open_from.strftime "%H:%M" %></td>
        <td><%= office_hour.open_to.strftime "%H:%M" %></td>
        <% if can? :edit, OfficeHour %>
          <%= content_tag :td do -%>
            <%= link_to 'bearbeiten', edit_office_hour_path(office_hour) %>
          <% end -%>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
