<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @office_hour.day %>
</p>

<p>
  <b>Open from:</b>
  <%= @office_hour.open_from %>
</p>

<p>
  <b>Open to:</b>
  <%= @office_hour.open_to %>
</p>


<%= link_to 'Edit', edit_office_hour_path(@office_hour) %> |
<%= link_to 'Back', office_hours_path %>
