<div id="bahnen">
  <% occupied = @occupation_list.shift %>
  <% @alleys.each do |a| %>
    <% if a.unlocked? %>
      <% unless occupied == a.id %>
        <% css_class, disabled = "frei", false %>
      <% else %>
        <% css_class, disabled = "belegt", true %>
        <% occupied = @occupation_list.shift %>
      <% end %>
    <% else %>
      <% css_class = "reparatur" %>
    <% end %>
    <%= content_tag :div, :class => css_class do -%> 
      <%= image_tag "bahn.png", :alt => "Grafik: Bahn #{a.number}" %>
      <%= label_tag a.id, "Bahn #{a.number}:" %>
      <% unless css_class == "reparatur" %>
        <%= check_box_tag a.id, :"Bahn#{a.number}", false, :disabled => disabled %>
      <% else %>
        <%= check_box_tag a.id, "Bahn#{a.number}", false, :disabled => true %>
      <% end %>
    <% end -%>
  <% end %>
</div>
<div style="float:left;border:1px dotted black;padding:5px 0">
  <p id="datumText1">Datum: <input type="text" id="datum1" /></p>
  <p id="zeitText1">Von: <input id="zeit1" type="text" /> </p>
  <p id="zeitText2">Bis: <input id="zeit2" disabled="disabled" type="text" /> </p>
  <br/>
  <input id="pruefReservButton" type="button" name="pruefen" value="Prüfen" />
</div>
<div style="float:left;margin-left:20px;border: 1px dotted black;padding: 15px">
  <% if @current_reservation %>
    <h2>Momentane Auswahl:</h2>
    <p>
    Von
    <%= @current_reservation.start_time.strftime("%H:%M") %>
    bis 
    <%= @current_reservation.end_time.strftime("%H:%M") %>
    am 
    <%= @current_reservation.date.strftime("%d.%m.%y") %>
    </p>
    <p>
    Bahnen: Keine gewählt
    </p>
  <% else %>
    <p>
    Leider kein Termin frei!
    </p>
  <% end %>
</div>
<div style="clear:left">
</div>

<%= render :partial => "reservation_table",:locals => {:time => @time, :alleys => @alleys, :office_hour => @office_hour, :reservation_table => @reservation_table } %>

</div>

<div id="configs">
  <input id="openTime" type="text" value="07:00am" /> Mindest-Start-Zeit (z1min)
  <input id="closeTime" type="text" value="10:00pm"/> Max-Start-Zeit. Geschlossen - 30Minuten (z1max)

  <input id="maxPlayTime" type="text" value="06:00am" /> Maximale Spieldauer (06:00am ==> 6 Stunden spieldauer Maximal erlaubt)
  <input id="disableDays" type="text" value="<%= @holiday_list %>" /> mm-dd-yyyy Also 10-16-2012 um den 16.10.2012 zu sperren
</div>
