<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% @reservation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="bahnen">
    <%= f.fields_for :alley_reservations do |ff| %>
      <% if ff.object.occupied? %>
        <%= content_tag :div, :class => "belegt" do -%>
          <%= image_tag "bahn.png", :alt => "Grafik: Bahn #{ff.object.alley.number}" %>
          <%= check_box_tag "", "occupied alley", false, :disabled => true %>
          <%= label_tag "", "Bahn #{ff.object.alley.number}:" %>
        <% end -%>
      <% else %>
        <%= content_tag :div, :class => "frei" do -%>
          <%= image_tag "bahn2.png", :alt => "Grafik: Bahn #{ff.object.alley.number}" %>
          <%= ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0', '1' %>
          <%= ff.label :_destroy, "Bahn #{ff.object.alley.number}" %>
          <%= ff.hidden_field :alley_id %>
        <% end -%>
      <% end %>
    <% end %>
  </div>

  <%= f.hidden_field :date %>
  <%= f.hidden_field :start_time %>
  <%= f.hidden_field :end_time %>

  <div class="actions">
    <%= f.submit 'Reservieren' %>
  </div>
<% end %>
