<table class="belegung">
  <caption>Für Sie passende Termine</caption>
  <tr>
    <td>Zeit: </td>
    <% @alleys.each do |alley| %>
      <td>Bahn <%= alley.number %></td>
    <% end %>
    <td></td>
  </tr>
</table>
<% @reservations.each do |reservation| %>
  <%= form_for(reservation) do |f| %>
    <%= f.hidden_field :date %>
    <%= f.hidden_field :start_time %>
    <%= f.hidden_field :end_time %>
    <table class="belegung">
      <tr>
        <td><%= "#{reservation.start_time.strftime("%H:%M")}-#{reservation.end_time.strftime("%H:%M")}" %></td>
        <%= f.fields_for :alley_reservations do |ff| %>
          <% if ff.object.occupied? %>
            <td>
              <%= check_box_tag "", "occupied alley", false, :disabled => true %>
            </td>
          <% else %>
            <td>
              <%= ff.check_box :_destroy, {:checked => ff.object.persisted?}, '0', '1'  %>
              <%= ff.hidden_field :alley_id %>
            </td>
          <% end %>
        <% end %>
        <td><%= f.submit "Reservieren" %></td>
      <% end %>
    </tr>
  </table>
<% end %>
