<% alleys = reservation_table.shift %>
<% open_from = reservation_table.shift %>
<% open_to = reservation_table.shift %>
<div id="reservation_table">
  <table>
    <caption>Datum: <%= date.strftime("%d.%m") %></caption>
    <tr>
      <td >Zeit: </td>
      <% alleys.each do |number| %>
        <%= content_tag :td, "Bahn #{number}" %>
      <% end %>
    </tr>
    <% time_iterator = open_from %>
    <% occupied = reservation_table.shift %>
    <% j = ((open_to - open_from) / 30.minute).to_i %>
    <% j.times do |y| %>
      <tr>
        <%= content_tag :td, time_iterator.strftime("%H:%M") %>
        <% time_iterator += 30.minute %>
        <% alleys.count.times do |x| %>
          <% if occupied == [x + 1,y] %>
            <%= content_tag :td, "", :class => "occupied" %>
            <% occupied = reservation_table.shift %>
          <% else %>
            <%= content_tag :td, "" %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
