<h1>Reservierungen</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Start time</th>
    <th>End time</th>
    <th>User</th>
    <th>Bahnen:</th>
    <th></th>
    <th></th>
  </tr>

  <% @reservations.each do |reservation| %>
    <tr>
      <td>
        <%= reservation.date.strftime "%d.%m.%Y" %>
      </td>
      <td>
        <%= reservation.start_time.strftime "%H:%M"  %>
      </td>
      <td>
        <%= reservation.end_time.strftime "%H:%M"%>
      </td>
      <td>
        <%= reservation.user.full_name %>
      </td>
      <td>
        <% reservation.alleys.sort.each do |alley| %>
          <%= alley.number %>
        <% end %>
      </td>
      <td><%= link_to 'Show', reservation %></td>
      <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
