<% content_for :javascript_includes do %>
  <%= javascript_include_tag "reservations/jquery.timepicker.js" %>
  <%= javascript_include_tag "reservations/jquery-ui-1.9.0.custom.js" %>
  <%= javascript_include_tag "reservations/jquery-ui-1.9.0.custom.min.js" %>
  <%= javascript_include_tag "reservations/select_form.js" %>
<% end %>

<h1>Online-Reservierung</h1>

<h2>Tag und Zeitraum wählen!</h2>
<div id="select_form">
<%= render 'select_form' %>
</div>

<h2>Ihre Reservierung!</h2>
<div id="reservation_form">
  <%= render 'new_form' %>
</div>

<h2>Belegungsplan</h2>
<%= render :partial => "reservation_table",:locals => {:date => @time, :reservation_table => @reservation_table } %>
<%= render :partial => 'select_config', :locals => { :holiday_list => @holidays, :office_hour => @office_hour, :reservation => @reservation } %>
<%# link_to 'Back', reservations_path %>
<%# debug @alleys%>
<%# debug @office_hour %>
<%# debug @holidays%>
<%# debug @time%>
<%# debug @reservations%>
<%# debug @occupation_list %>
<%# debug @reservation_table %>
<%# debug @holiday_list%>
<%# debug @reservation %>
