<p id="notice"><%= notice %></p>

<p>
<b>Date:</b>
<%= @reservation.date.strftime "%d.%m.%Y" %>
</p>

<p>
<b>Start time:</b>
<%= @reservation.start_time.strftime "%H:%M"  %>
</p>

<p>
<b>End time:</b>
<%= @reservation.end_time.strftime "%H:%M"%>
</p>

<p>
<b>User:</b>
<%= @reservation.user.full_name %>
</p>
<ul>
  <% @reservation.alleys.each do |alley| %>
    <%= content_tag :li, "Bahn #{alley.number}" %>
  <% end %>
</ul>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
